{% extends "base.html" %} {% load static %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
  <div class="text-center mb-5">
    <a href="{% url 'login' %}"> <img class="img-fluid w-75" src="{% static 'images/SalesSenseLogo.png' %}" alt="SalesSense Logo"></a>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-8 col-xl-8 text-center">
        <h1>{% trans "Change Password" %}</h1>
        <p>{% trans 'Your password is now changed.' %}</p>
        <div class="text-center mt-3">
            <p class="text-center small">Go back to <a href="/">sign in</a> page.</p>
        </div>
    </div>
  </div>
</div>
{% endblock %}
