{% extends "base.html" %} {% load crispy_forms_tags %} {% load static %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
  <div class="text-center mb-5">
    <a href="{% url 'login' %}"> <img class="img-fluid w-75" src="{% static 'images/SalesSenseLogo.png' %}" alt="SalesSense Logo"></a>
  </div>
  <div class="row justify-content-center">
    <div class="col-8 col-md-4 col-lg-3 col-xl-3">
      <h1 class="display-5 mb-3">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center mt-3">
                    <input class="btn btn-danger" type="submit" name="action" value="{% trans 'Change password' %}"/>
                </div>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
    </div>
  </div>
</div>
{% endblock %}
