{% comment %} Reports Navigation  {% endcomment %}

    <li class="nav-item dropdown">
    <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
    >
        <i class="fas fa-chart-pie"></i> Reports
    </a>
        <ul
            class="dropdown-menu text-center"
            aria-labelledby="navbarDropdownMenuLink"
        >
            <li>
            <a class="dropdown-item text-secondary" href="https://app.powerbi.com/sharedwithme" target="_blank"
                ><i class="fas fa-chart-bar"></i> PowerBi Reports</a
            >
            </li>
            {% if user.is_superuser or user.department.department_name == "HR" or user.department.department_name == "Accounts" or user.department.department_name == "Management" %}
            <li>
            <a class="dropdown-item text-secondary" href="{% url 'reports:report_list' %}"
                ><i class="fas fa-table"></i> Hub Reports</a
            >
            </li>
            {% endif %}
        </ul>
    </li>