{% extends "base.html" %} {% block content %} {% load crispy_forms_tags %}
<div class="container mt-5 mb-5">
  <h1 class="ms-2">Add New Employee</h1>
  <div class="text-start ms-2">
    <a href="{% url 'employee:employeeList' %}"><i class="fas fa-angle-left"></i> Back to Employee List</a>
  </div>
  <form method="POST">
    {% csrf_token %} 
    {% comment %} Personal Details {% endcomment %}
    {% include "../employee/includes/employeePersonalDetails.html" with isEditable="true" %}
    {% comment %} Job Details {% endcomment %}
    {% include "../employee/includes/employeeJobDetails.html" with isEditable="true" %}
    
    <div class="text-end mt-3 pe-2">
      <button type="reset" class="btn btn-sm btn-secondary">Clear</button>
      <button type="submit" class="btn btn-sm btn-success">Submit</button>
    </div>
  </form>
</div>
{% endblock content %}
