{% extends "base.html" %}{% load static %}{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
        <h1 class="pl-2">Update Holidays Carry Over</h1>
    </div>
    <div class="text-start ms-2 mb-2">
        <a href="{% url 'employee:employeeDetail' pk=employee_id %}"><i class="fas fa-angle-left"></i> Back to Employee</a>
    </div>
    <hr>
    <div class="container shadow-sm rounded p-4 bg-light">
        <form  method="POST">
        {% csrf_token %}
            <div class="row">
                <div class="col-sm-12 col-lg-2">
                    {{form.carry_over_hours|as_crispy_field}}
                </div>
                <div class="col-sm-12 col-lg-2">
                    {{form.carry_over_expiry_date|as_crispy_field}}
                </div>
            <div class="text-end">
                <button type="submit" class="btn btn-sm btn-success"><i class="fas fa-check-circle"></i> Submit</button>
            </div>
            </div>
        </form>
    </div>
</div> 
{% endblock content %}